body {
  font-family: 'Inter', sans-serif;
  color: $dark;
}

h1,
.base-typography--h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 76px;
}

h2,
.base-typography--h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}

h3,
.base-typography--h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

h4,
.base-typography--h4 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

h5,
.base-typography--h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

h6,
.base-typography--h6 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

p,
.base-typography--b1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.base-typography--b-16-24 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.base-typography--b-16-20 {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.base-typography--bold-b-14-20 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.base-typography--b-14-20 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.base-typography--b-14-16 {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}

.base-typography--bb1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.base-typography--bb2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.base-typography--bb3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.base-typography--button1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.base-typography--bold-button1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.base-typography--button2 {
  font-size: 14px;
  line-height: 20px;
}

.base-typography--bold-button2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.base-typography--caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.base-typography--overline {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}
