$primary-100:#511fdc;
$primary-200: #4716cc;
$primary-300:#3d0fbd;
$primary-light-10: #EDE8FA;
$primary-light-20: #DCD2F8;
$primary-active-input:#dcd2f8;
$primary-active: #ede8fa;
$primary-disabled: rgba(81, 31, 220, 0.6);
$primary: $primary-100;

$secondary-100: #240a69;
$secondary-200: #1c055c;
$secondary-300: #150050;
$secondary-400: #120045;
$secondary-500: #10003b;
$secondary-disabled: rgba($secondary-300, 0.6);
$secondary: $secondary-300;

$dark:#17171a;
$light: #fff;

$success-light: #e1f5e4;
$success: #209e35;

$error-100: #d92f2b;
$error-200: #c92622;
$error-300: #ba1d1a;
$error-light: #faebeb;
$error-disabled: #e88280;
$error: $error-100;

$grey-50: #fafafa;
$grey-100: #f5f5f7;
$grey-150: #ededf0;
$grey-200: #e1e1e6;
$grey-300: #c6c6cc;
$grey-400: #ababb3;
$grey-500:  #919199;
$grey-600: #787880;
$grey-700: #5f5f66;
$grey-800: #46464d;
$grey-900:  #2e2e33;

$yellow: #faaf19;
$modal-background: rgba(23, 23, 26, 0.6);

$stroke: 1px solid $grey-200;

$border-radius: 10px;

$container: 1232px;
$container-padding: 0 32px;
