$primary-100: #6c3bf5;
$primary-200: #5e2ce8;
$primary-300: #511fdc;
$primary-400: #4817cf;
$primary-500: #3f10c2;
$primary-disabled: rgba($primary-300, 0.6);
$primary-active: rgba($primary-300, 0.2);
$primary: $primary-300;

$secondary-100: #240a69;
$secondary-200: #1c055c;
$secondary-300: #150050;
$secondary-400: #120045;
$secondary-500: #10003b;
$secondary-disabled: rgba($secondary-300, 0.6);
$secondary: $secondary-300;

$dark:#17171a;
$light: #fff;

$success-light: #e1f5e4;
$success: #209e35;
$error-light: #fbeeee;
$error: #d92f2b;

$grey-50: #fafafa;
$grey-100: #f5f5f7;
$grey-150: #ededf0;
$grey-200: #e1e1e6;
$grey-300: #c6c6cc;
$grey-400: #ababb3;
$grey-500:  #919199;
$grey-600: #787880;
$grey-700: #5f5f66;
$grey-800: #46464d;
$grey-900:  #2e2e33;

$yellow: #faaf19;
$modal-background: rgba(23, 23, 26, 0.6);

$stroke: 1px solid $grey-200;

$border-radius: 10px;

$container: 1232px;
$container-padding: 0 32px;
