@import "reset";
@import "typography";
@import "mixins";

.container--md {
  width: 100%;
  max-width: 770px;
  padding-top: 0;
  margin: 0 auto;
}

.editable {
  cursor: text;
  border-radius: 10px;
  outline: 0 solid transparent;

  &:hover {
    background-color: $grey-100;
  }

  &:empty::before {
    color: $grey-600;
    content: attr(data-placeholder);
  }

  &--plain:hover {
    background: transparent;
  }
}

.pointer-events-none {
  pointer-events: none;
  user-select: none;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

::selection {
  color: $light;
  background: $primary-disabled; /* WebKit/Blink Browsers */
}
